.sngnm{
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 30px;
    display: inline;
}
.songpr{
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}
.albmnm{
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 30px;
    display: inline;
}
.albmpr{
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}
.poster{
    width: 150px;
    height: 150px;
    display: inline;
}

.logo{
    width: 150px;
    height: 150px;
    display: inline;
}

.error{
    color: red;
}

.success{
    color: green;
}

.pagination {
    margin-top: 50px;
}

.plSong {
    font-size: 24px;
    width: 100%;
}

.plSong div {
    display: inline;
    width: 80%;
}

.plSong a {
    display: inline;
}

.plSong form {
    display: inline;
    float: right;
}


.activePag {
    text-decoration: underline;
}

.inline-form {
    display: inline-block;
}

.main {
  margin-left: 320px;
}

.loginPanel {
  position: relative;
  height: 20%;
  left: 0;
  top: 0;
}

.userAdminPanel {
  position: relative;
  height: 80%;
  left: 0;
  bottom: 0;
}

.fa {
    color:#FFF;
}

.form-popup {
  display: none;
  position: relative;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 200px;
  padding: 10px;
  color: #FFF;
}

.side-panel-playlist{
      max-width: 300px;
      margin-left: auto;
      margin-right: 0px;
}

.playlist-link {
    max-width: 200px;
    display: inline;
}

.edit-playlist {
    top: 0;
    right:40;
    display: inline;
}

.remove {
    top: 0;
    right:0;
    display: inline;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color:#FFF;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container-signin {
  padding: 16px;
  background-color: #f1f1f1;
  text-align: center;
}