<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel = "stylesheet" type="text/css" href = "../css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Error page</title>
</head>
<body>
<div class="sidenav">
    <div class="loginPanel">
        <div sec:authorize="isAuthenticated()">
            <a href="/logout">Logout</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/logout">Logout</a>
            <a th:unless="${session.user}" href="/registration">Register</a>
            <a th:unless="${session.user}" href="/login">Login</a>
        </div>
    </div>
    <div class="userAdminPanel" sec:authorize="hasAuthority('admin')">
        <a href="/admin">Admin Page</a>
        <a href="/admin/addGenrePage">Add genre page</a>
        <a href="/admin/addMusicianPage">Add musician page</a>
        <a href="/admin/addAlbumPage">Add album page</a>
        <a href="/admin/addSongPage">Add song page</a>
    </div>
    <div class="userAdminPanel" sec:authorize="hasAuthority('user')">
        <div class="side-panel-playlist" th:if="${session.user}" th:each="p: ${session.user.playlistList}">
            <div class="playlist-link">
                <a th:href="@{/playlist(id=${p.id})}" th:text="${p.name}"></a>
            </div>
            <div class="edit-playlist">
                <i class="fas fa-edit"></i>
                <div class="form-popup">
                    <form action="/editPlaylist" method="post" class="form-container">
                        <input type="text" name="name" required>Enter new name</input>
                        <input type="hidden" name="id" th:value="${p.id}"/>
                        <input type="submit"><i class="fas fa-check"></i></input>
                    </form>
                </div>
            </div>
            <div class="remove" th:value="${p.id}">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <h4 th:text="${error}" class="error"></h4>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="../js/admin/removePlaylist.js"></script>
</body>
</html>