<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel = "stylesheet" type="text/css" href = "../css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Music Application main page</title>
</head>
<body>
<div class="sidenav">
    <div class="loginPanel">
        <div sec:authorize="isAuthenticated()">
            <a href="/logout">Logout</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/logout">Logout</a>
            <a th:unless="${session.user}" href="/registration">Register</a>
            <a th:unless="${session.user}" href="/login">Login</a>
        </div>
    </div>
    <div class="userAdminPanel" sec:authorize="hasAuthority('admin')">
        <a href="/admin">Admin Page</a>
        <a href="/admin/addGenrePage">Add genre page</a>
        <a href="/admin/addMusicianPage">Add musician page</a>
        <a href="/admin/addAlbumPage">Add album page</a>
        <a href="/admin/addSongPage">Add song page</a>
    </div>
    <div class="userAdminPanel" sec:authorize="hasAuthority('user')">
        <div class="side-panel-playlist" th:if="${session.user}" th:each="p: ${session.user.playlistList}">
            <div class="playlist-link">
                <a th:href="@{/playlist(id=${p.id})}" th:text="${p.name}"></a>
            </div>
            <div class="edit-playlist">
                <i class="fas fa-edit"></i>
                <div class="form-popup">
                    <form action="/editPlaylist" method="post" class="form-container">
                        <input type="text" name="name" required>Enter new name</input>
                        <input type="hidden" name="id" th:value="${p.id}"/>
                        <input type="submit"><i class="fas fa-check"></i></input>
                    </form>
                </div>
            </div>
            <div class="remove" th:value="${p.id}">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <input th:if="${not #strings.isEmpty(q)}" class="form-control mr-sm-2"
               type="search" placeholder="Search" aria-label="Search" name="q" th:value="${q}">
        <input th:if="${#strings.isEmpty(q)}" class="form-control mr-sm-2"
               type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h4 th:if="${not #lists.isEmpty(foundSongs)}">Found songs
    <div th:each="song : ${foundSongs.content}" class="songblock">
        <div class="sngnm">
            <p class="songpr" th:text="${song.name}">Song name</p>
        </div>
        <div class="albmnm">
            <p  class="albmpr" th:text="${song.album.name}">Album name</p>
            <img class="poster" th:src="${song.album.poster}"/>
        </div>
        <a th:href="${song.link}" target="_blank">
            <img border="0" alt="youtube"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNUpsvkgrCclElcGvCo1RXBlBXnMh_BUTjXA&usqp=CAU"
                width="50" height="50">
        </a>
        <form class="ajax-form">
            <select name="playlistId">
                <option value="0">Create new playlist</option>
                <th:block th:if="${session.user}" th:each="p: ${session.user.playlistList}"
                          sec:authorize="hasAuthority('user')">
                    <option th:value="${p.id}" th:text="${p.name}"></option>
                </th:block>
            </select>
            <input type="hidden" th:name="songId" th:value="${song.id}">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit"
                   value="Add in playlist">Add Into playlist</input>
            </br>
            <span th:id="${song.id}"></span>
        </form>
    </div>

    <div th:if="${foundSongs.totalPages > 0}">
        <nav aria-label="navigation">
            <ul class="pagination">
                <li class="page-item" th:if="${foundSongs.number != 0}">
                    <a class="page-link" th:href="@{/search(q=${q},size=${foundSongs.size}, page=${foundSongs.number})}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{/search(q=${q},size=${foundSongs.size}, page=${pageNumber})}"
            th:text=${pageNumber} th:class="${pageNumber==foundSongs.number + 1} ? activePag"></a>
                </li>
                <li class="page-item" th:if="${foundSongs.number < foundSongs.totalPages - 1}">
                    <a class="page-link"
                       th:href="@{/search(q=${q},size=${foundSongs.size}, page=${foundSongs.number + 2})}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <label for="selectPage">Page</label>
                <select id="selectPage" onchange="location = this.value;">
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <th:block th:if="${pageNumber==foundSongs.number + 1}">
                            <option th:value="@{/search(q=${q},size=${foundSongs.size}, page=${pageNumber})}"
                                th:text="${pageNumber}" selected>
                            </option>
                        </th:block>
                        <th:block th:unless="${pageNumber==foundSongs.number + 1}">
                            <option th:value="@{/search(q=${q},size=${foundSongs.size}, page=${pageNumber})}"
                                th:text="${pageNumber}">
                            </option>
                        </th:block>
                    </th:block>
                </select>
            </ul>
        </nav>
    </div>
    </h4>
    <h4 th:if="${not #lists.isEmpty(foundAlbums)}">Found albums
    <div th:each="album : ${foundAlbums}">
        <div class="sngnm">
            <p class="songpr" th:text="${album.name}">Song name</p>
        </div>
        <div class="albmnm">
            <img class="poster" th:src="${album.poster}"/>
        </div>
        <a th:href="@{'/album?id=' + ${album.id}}">Open album</a>
    </div>
    </h4>
    <h4 th:if="${not #lists.isEmpty(foundSingers)}">Found singer
    <div th:each="singer : ${foundSingers}">
        <div class="sngnm">
            <p class="songpr" th:text="${singer.name}">Song name</p>
        </div>
        <img class="poster" th:src="${singer.logo}"/>
        <a th:href="@{'/singer?id=' + ${singer.id}}">Open singer info</a>
    </div>
    </h4>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
        integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous">
</script>
<script src="../js/admin/playlist.js"></script>
<script src="../js/admin/removePlaylist.js"></script>
</body>
</html>